.main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.main-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}